@charset "UTF-8";
/* CSS Document */
body{
  background-color: #F2D02F
}
.navigation{
  background-color: #F2D02F;
  padding: 10px
}
	.navigation a{
		color: black;
		text-decoration: none;
		font-family: "inter-variable";
		font-size: 18px;
		border-style: solid;
		border-width: thin;
		border-radius: 5px;
		padding: 20px;
	}
#welcome{
	font-family: "inter-variable";
	font-size: 60px;
	font-weight: bold;
	
}
#welcome p{ 
	margin: 0;
	padding-left: 25px;
	}
#about{
	border-style: solid;
	border-width: thin;
	border-bottom-style: none;
	background-color: white;
	padding: 25px
	}
#about h1{
	font-family: "funkydori";
	font-weight: 100;
	font-size: 40px;
	margin: 0;
	}
#about p{
	font-family: "inter-variable";
	font-size: 18px;
	margin: 0;
}
#features{
	border-style: solid;
	border-bottom-style: none;
	border-width: thin;
	background-color: white;
	padding: 25px
	}
#features h1{
	font-family: "funkydori";
	font-size: 40px;
	}
#features ul{
	font-family: "inter-variable";
	font-size: 18px
	}
#features p{
	font-family: "inter-variable";
	font-size: 18px
	}
.account{
	border-style: solid;
	border-bottom-style: none;
	border-width: thin;
	background-color: white;
	padding: 25px
	}
.account h1{
	font-family: "funkydori";
	font-size: 40px;
    }
#info{
	font-family: "inter-variable";
	font-size: 18px;
	}
#profile{
	font-family: "inter-variable";
	font-size: 18px;
     }
	footer{
		font-color: white;
		font-family: "inter-variable";
		font-size: 18px;
		padding: 10px;
		border-style: solid;
		border-width: thin
	}


